In [1]:
#Imports
import boto3
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pyspark.sql.functions as f
from pyspark.sql.types import IntegerType
import psycopg2
from sqlalchemy import create_engine

In [2]:
#Create the s3 Session with provided keys
s3 = boto3.Session(
    aws_access_key_id='AKIAZZ33YB65GZIN656A',
    aws_secret_access_key='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',
).client('s3')

#Create Spark session
spark = SparkSession.builder \
    .master("local") \
    .appName("Mindex_Challange") \
    .getOrCreate()

#Create variable to store bucket name for all files
s3_bucket_name = 'mindex-data-analytics-code-challenge'

#Download fiels loacally from s3 bucket
s3.download_file(s3_bucket_name, 'bengals.csv', 'bengals.csv')
s3.download_file(s3_bucket_name, 'boyd_receiving.csv', 'boyd_receiving.csv')
s3.download_file(s3_bucket_name, 'chase_receiving.csv', 'chase_receiving.csv')
s3.download_file(s3_bucket_name, 'higgins_receiving.csv', 'higgins_receiving.csv')

In [3]:
#Read in files from local
bengals = spark.read.option("header",True).csv("bengals.csv")
boyd = spark.read.option("header",True).csv("boyd_receiving.csv")
chase = spark.read.option("header",True).csv("chase_receiving.csv")
higgins = spark.read.option("header",True).csv("higgins_receiving.csv")

#Join all data sets into one, use left joins to include all preseason games and any games the players missed
#Rename commonly named columsn to still make distinction
master_df = bengals.join(boyd.withColumnRenamed('Yards','boyd_yards').withColumnRenamed('TD','boyd_td'), on=['Week'], how='left')\
                   .join(chase.withColumnRenamed('Yards','chase_yards').withColumnRenamed('TD','chase_td'), on=['Week'], how='left')\
                   .join(higgins.withColumnRenamed('Yards','higgins_yards').withColumnRenamed('TD','higgins_td'), on=['Week'], how='left')

#Data Transformations, replace any nulls values with 0s
master_df = master_df.withColumn('Result', f.when(f.col('Result') == 1, f.lit('Win')).otherwise(f.lit('Loss')))\
                     .withColumn('boyd_yards', f.when(f.col('boyd_yards').isNull(), f.lit(0)).otherwise(f.col('boyd_yards')))\
                     .withColumn('boyd_td', f.when(f.col('boyd_td').isNull(), f.lit(0)).otherwise(f.col('boyd_td')))\
                     .withColumn('chase_yards', f.when(f.col('chase_yards').isNull(), f.lit(0)).otherwise(f.col('chase_yards')))\
                     .withColumn('chase_td', f.when(f.col('chase_td').isNull(), f.lit(0)).otherwise(f.col('chase_td')))\
                     .withColumn('higgins_yards', f.when(f.col('higgins_yards').isNull(), f.lit(0)).otherwise(f.col('higgins_yards')))\
                     .withColumn('higgins_td', f.when(f.col('higgins_td').isNull(), f.lit(0)).otherwise(f.col('higgins_td')))

#Convert number columns to Integers before we prepare to write to DB
for c in master_df.columns:
    if 'yards' in c or 'td' in c:
        master_df = master_df.withColumn(str(c), f.col(str(c)).cast(IntegerType()))

In [4]:
#Create Connection Parameters String to pass into psycopg2 conection function
conn_params = "host='ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com'\
               dbname='postgres'\
               user='zachary_gay'\
               password='gacharyzay'"

#Create empty variable to be referenced during all steps of the try-excpet-finally
db_conn = None
table_name = 'zachary_gay'
try:
    #Attempt connect to the DB
    db_conn = psycopg2.connect(conn_params)
    #If the connection was successful
    if db_conn:
        #create engine to begin inserting data to DB
        engine = create_engine('postgresql+psycopg2://zachary_gay:gacharyzay@ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com:5432/postgres')
        #Convert Pysaprk df to Pandas in order to utilize the to_sql(), set the function to drop the table before inserting new records since records in the app are always the same
        master_df.toPandas().to_sql(table_name, engine, if_exists='replace', index=False)    
        
except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

finally:
    #If we connected to the DB then close the conenction
    if db_conn:
        db_conn.close()

In [5]:
#Close spark session
spark.stop()