In [1]:
#Imports
import boto3
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pyspark.sql.functions as f
from datetime import *

In [2]:
#Create the s3 Session with provided keys
s3 = boto3.Session(
    aws_access_key_id='AKIAZZ33YB65GZIN656A',
    aws_secret_access_key='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',
).client('s3')

#Create Spark session
spark = SparkSession.builder \
    .master("local") \
    .appName("Mindex_Challange") \
    .getOrCreate()

#Create variable to store bucket name for all files
s3_bucket_name = 'mindex-data-analytics-code-challenge'

#Download fiels loacally from s3 bucket
s3.download_file(s3_bucket_name, 'bengals.csv', 'bengals.csv')
s3.download_file(s3_bucket_name, 'boyd_receiving.csv', 'boyd_receiving.csv')
s3.download_file(s3_bucket_name, 'chase_receiving.csv', 'chase_receiving.csv')
s3.download_file(s3_bucket_name, 'higgins_receiving.csv', 'higgins_receiving.csv')

In [13]:
#Read in files from local
bengals = spark.read.option("header",True).csv("bengals.csv")
boyd = spark.read.option("header",True).csv("boyd_receiving.csv")
chase = spark.read.option("header",True).csv("chase_receiving.csv")
higgins = spark.read.option("header",True).csv("higgins_receiving.csv")

#Join all data sets into one
#Rename commonly named columsn to still make distinction
master_df = bengals.join(boyd.withColumnRenamed('Yards','Boyd_Yards').withColumnRenamed('TD','Boyd_TD'), on=['Week'], how='left')\
                   .join(chase.withColumnRenamed('Yards','Chase_Yards').withColumnRenamed('TD','Chase_TD'), on=['Week'], how='left')\
                   .join(higgins.withColumnRenamed('Yards','Higgins_Yards').withColumnRenamed('TD','Higgins_TD'), on=['Week'], how='left')

bengals.show()
master_df.show(truncate=False)

+-----+--------+--------+------+
| Week|Opponent|Location|Result|
+-----+--------+--------+------+
| PRE1|      TB|    Away|     1|
| PRE2|     WSH|    Away|     0|
| PRE3|     MIA|    Home|     0|
| REG1|     MIN|    Home|     1|
| REG2|     CHI|    Away|     0|
| REG3|     PIT|    Away|     1|
| REG4|     JAX|    Home|     1|
| REG5|      GB|    Home|     0|
| REG6|     DET|    Away|     1|
| REG7|     BAL|    Away|     1|
| REG8|     NYJ|    Away|     0|
| REG9|     CLE|    Home|     0|
|REG10|    NULL|    NULL|  NULL|
|REG11|      LV|    Away|     1|
|REG12|     PIT|    Home|     1|
|REG13|     LAC|    Home|     0|
|REG14|      SF|    Home|     0|
|REG15|     DEN|    Away|     1|
|REG16|     BAL|    Home|     1|
|REG17|      KC|    Home|     1|
+-----+--------+--------+------+
only showing top 20 rows

+-----+--------+--------+------+----------+-------+-----------+--------+-------------+----------+
|Week |Opponent|Location|Result|Boyd_Yards|Boyd_TD|Chase_Yards|Chase_TD|Higgins_Yards|Higgins_TD|
+-----+--------+--------+------+----------+-------+-----------+--------+-------------+----------+
|PRE1 |TB      |Away    |1     |NULL      |NULL   |NULL       |NULL    |NULL         |NULL      |
|PRE2 |WSH     |Away    |0     |NULL      |NULL   |NULL       |NULL    |NULL         |NULL      |
|PRE3 |MIA     |Home    |0     |NULL      |NULL   |NULL       |NULL    |NULL         |NULL      |
|REG1 |MIN     |Home    |1     |32        |0      |101        |1       |58           |1         |
|REG2 |CHI     |Away    |0     |73        |0      |54         |1       |60           |1         |
|REG3 |PIT     |Away    |1     |36        |1      |65         |2       |NULL         |NULL      |
|REG4 |JAX     |Home    |1     |118       |0      |77         |0       |NULL         |NULL      |
|REG5 |GB      |Home    |0     |24        |0      |159        |1       |32           |0         |
|REG6 |DET     |Away    |1     |7         |0      |97         |0       |44           |0         |
|REG7 |BAL     |Away    |1     |39        |0      |201        |1       |62           |0         |
|REG8 |NYJ     |Away    |0     |69        |1      |32         |1       |97           |0         |
|REG9 |CLE     |Home    |0     |11        |0      |49         |0       |78           |0         |
|REG10|NULL    |NULL    |NULL  |NULL      |NULL   |NULL       |NULL    |NULL         |NULL      |
|REG11|LV      |Away    |1     |49        |0      |32         |1       |15           |0         |
|REG12|PIT     |Home    |1     |13        |0      |39         |0       |114          |1         |
|REG13|LAC     |Home    |0     |85        |0      |52         |0       |138          |1         |
|REG14|SF      |Home    |0     |55        |0      |77         |2       |114          |0         |
|REG15|DEN     |Away    |1     |96        |1      |3          |0       |23           |0         |
|REG16|BAL     |Home    |1     |85        |1      |125        |0       |194          |2         |
|REG17|KC      |Home    |1     |36        |1      |266        |3       |62           |0         |
+-----+--------+--------+------+----------+-------+-----------+--------+-------------+----------+
only showing top 20 rows